<div class="container">


                    {{#each doc}}

                            <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{this.username}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><a href="mailto:{{this.email}}">{{this.email}}</a>
                            <br />
                                <h4>Profile information</h4>
               				<p>
               					{{this.biography}}
                            </br>{{this.conditions}}
                               </br> {{moment this.joindate format="DD MMMM YYYY"}}
               				</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Options</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Options</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                         <li><a href="#">leave a review</a></li>
                                <li class="divider"></li>
                                <li><a href="#">request appointment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                            </div>
        </div>


                {{/each}}
</div>
</div